<div class="detail-section">
    <div class="container-fluid">

        <img src="{{product.imageUrl}}" class="detail-img">

        <h3>{{product.name}}</h3>
        <div class="price">{{product.unitPrice | currency: 'USD'}}</div>
        <a href="#" class="primary-btn">Thêm vào giỏ hàng</a>
        <hr>
        <h4>Mô tả</h4>
        <p>{{product.description}}</p>

        <a routerLink="/products" class="btn btn-secondary back-home-btn mt-5">
            ← Trở lại trang chủ
        </a>
    </div>
</div>