<!-- <div class="menu-sidebar-content js-scrollbar1">
  <nav class="navbar-sidebar">
    <ul class="list-unstyled navbar-list">
      
      <li *ngFor="let tempProductCategory of productCategories">
        <a routerLink="/category/{{ tempProductCategory.id }}/{{ tempProductCategory.categoryName }}" routerLinkActive="active-link">
          {{ tempProductCategory.categoryName }}
        </a>
      </li>

    </ul>
  </nav>
</div> -->



<div class="menu-sidebar-content js-scrollbar1">
  <nav class="navbar-sidebar">
    <ul class="list-unstyled navbar-list">

      <li>
        <a (click)="toggleProductMenu()" [class.active-link]="isProductsRouteActive()" class="has-sub">
          Products
          <i class="fas fa-chevron-right" [class.rotated]="isProductMenuOpen"></i>
        </a>
        
        <ul *ngIf="isProductMenuOpen" class="list-unstyled navbar-sublist">
          <li *ngFor="let tempProductCategory of productCategories">
            <a routerLink="/category/{{ tempProductCategory.id }}/{{ tempProductCategory.categoryName }}" routerLinkActive="active-link">
              {{ tempProductCategory.categoryName }}
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a routerLink="/contact" routerLinkActive="active-link">
          Contact
        </a>
      </li>

    </ul>
  </nav>
</div>