<div class="container">

    <div class="checkout-page-container">
        <div class="page-header">
            <h2>Thanh toán</h2>
            <p class="text-muted">
                Bạn đã có tài khoản? <a href="#">Đăng nhập</a> để thanh toán nhanh hơn.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-7">
                <div class="form-container">
                    <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                        <div class="form-section">
                            <h4 class="section-title">Địa chỉ giao hàng</h4>

                            <div formGroupName="customer">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="firstName" class="form-label">Họ*</label>
                                        <input id="firstName" type="text" class="form-control"
                                            formControlName="firstName" />

                                        <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
                                            class="alert alert-danger mt-1 p-2">
                                            <div *ngIf="firstName?.errors?.['required']">
                                                Họ là bắt buộc.
                                            </div>
                                            <div *ngIf="firstName?.errors?.['minlength']">
                                                Họ phải có ít nhất 2 ký tự.
                                            </div>
                                            <div *ngIf="firstName?.errors?.['notOnlyWhitespace']">
                                                Họ không được chỉ chứa khoảng trắng.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="lastName" class="form-label">Tên*</label>
                                        <input id="lastName" type="text" class="form-control"
                                            formControlName="lastName" />

                                        <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
                                            class="alert alert-danger mt-1 p-2">
                                            <div *ngIf="lastName?.errors?.['required']">
                                                Tên là bắt buộc.
                                            </div>
                                            <div *ngIf="lastName?.errors?.['minlength']">
                                                Tên phải có ít nhất 2 ký tự.
                                            </div>
                                            <div *ngIf="lastName?.errors?.['notOnlyWhitespace']">
                                                Tên không được chỉ chứa khoảng trắng.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="companyName" class="form-label">Công ty <span
                                            class="text-muted">(Tùy chọn)</span></label>
                                    <input id="companyName" type="text" class="form-control"
                                        formControlName="companyName" />
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="email" class="form-label">Email*</label>
                                        <input id="email" type="email" class="form-control" formControlName="email" />

                                        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                                            class="alert alert-danger mt-1 p-2">
                                            <div *ngIf="email?.errors?.['required']">
                                                Email là bắt buộc.
                                            </div>
                                            <div *ngIf="email?.errors?.['pattern']">
                                                Vui lòng nhập đúng định dạng địa chỉ email.
                                            </div>
                                            <div *ngIf="email?.errors?.['notOnlyWhitespace']">
                                                Email không được chỉ chứa khoảng trắng.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="phone" class="form-label">Số điện thoại*</label>
                                        <input id="phone" type="tel" class="form-control" formControlName="phone" />

                                        <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)"
                                            class="alert alert-danger mt-1 p-2">
                                            <div *ngIf="phone?.errors?.['required']">
                                                Số điện thoại là bắt buộc.
                                            </div>
                                            <div *ngIf="phone?.errors?.['pattern']">
                                                Vui lòng nhập đúng định dạng số điện thoại.
                                            </div>
                                            <div *ngIf="phone?.errors?.['notOnlyWhitespace']">
                                                Số điện thoại không được chỉ chứa khoảng trắng.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div formGroupName="shippingAddress">
                                <div class="mb-3">
                                    <label for="province" class="form-label">Tỉnh/Thành phố*</label>
                                    <select id="province" class="form-select" formControlName="province">
                                        <option value="" disabled>-- Chọn Tỉnh/Thành phố --</option>
                                        <option *ngFor="let province of provinces" [value]="province.code">
                                            {{ province.name }}
                                        </option>
                                    </select>
                                    <div *ngIf="shippingProvince?.invalid && (shippingProvince?.dirty || shippingProvince?.touched)"
                                        class="alert alert-danger mt-1 p-2">
                                        Vui lòng chọn Tỉnh/Thành phố.
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="district" class="form-label">Quận/Huyện*</label>
                                    <select id="district" class="form-select" formControlName="district"
                                        [disabled]="!shippingProvince?.value || districts.length === 0">
                                        <option value="" disabled>-- Chọn Quận/Huyện --</option>
                                        <option *ngFor="let district of districts" [value]="district.code">
                                            {{ district.name }}
                                        </option>
                                    </select>
                                    <div *ngIf="shippingDistrict?.invalid && (shippingDistrict?.dirty || shippingDistrict?.touched)"
                                        class="alert alert-danger mt-1 p-2">
                                        Vui lòng chọn Quận/Huyện.
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="ward" class="form-label">Phường/Xã*</label>
                                    <select id="ward" class="form-select" formControlName="ward"
                                        [disabled]="!shippingDistrict?.value || wards.length === 0">
                                        <option value="" disabled>-- Chọn Phường/Xã --</option>
                                        <option *ngFor="let ward of wards" [value]="ward.code">
                                            {{ ward.name }}
                                        </option>
                                    </select>
                                    <div *ngIf="shippingWard?.invalid && (shippingWard?.dirty || shippingWard?.touched)"
                                        class="alert alert-danger mt-1 p-2">
                                        Vui lòng chọn Phường/Xã.
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="street" class="form-label">Địa chỉ cụ thể (Số nhà, tên đường)*</label>
                                    <input id="street" type="text" class="form-control"
                                        placeholder="Ví dụ: 123 Võ Văn Ngân" formControlName="street" />
                                    <div *ngIf="shippingStreet?.invalid && (shippingStreet?.dirty || shippingStreet?.touched)"
                                        class="alert alert-danger mt-1 p-2">
                                        Vui lòng nhập địa chỉ cụ thể.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-section" formGroupName="shippingAddress">
                            <h4 class="section-title">Additional information</h4>
                            <div class="mb-3">
                                <label for="orderNotes" class="form-label">Order notes (Optional)</label>
                                <textarea id="orderNotes" class="form-control" rows="4"
                                    placeholder="Notes about your order, e.g. special notes for delivery."
                                    formControlName="orderNotes"></textarea>
                            </div>
                        </div>
                        <div class="form-section" formGroupName="payment">
                            <h4 class="section-title">Phương thức thanh toán</h4>

                            <div class="payment-method-container">

                                <label for="creditCard" class="payment-option"
                                    [class.selected]="selectedPaymentMethod === 'creditCard'">
                                    <input id="creditCard" type="radio" value="creditCard"
                                        formControlName="paymentMethod" (change)="onPaymentMethodChange($event)">
                                    <span>Thẻ tín dụng</span>
                                </label>

                                <label for="bankTransfer" class="payment-option"
                                    [class.selected]="selectedPaymentMethod === 'bankTransfer'">
                                    <input id="bankTransfer" type="radio" value="bankTransfer"
                                        formControlName="paymentMethod" (change)="onPaymentMethodChange($event)">
                                    <span>Chuyển khoản ngân hàng</span>
                                </label>

                                <label for="cash" class="payment-option"
                                    [class.selected]="selectedPaymentMethod === 'cash'">
                                    <input id="cash" type="radio" value="cash" formControlName="paymentMethod"
                                        (change)="onPaymentMethodChange($event)">
                                    <span>Thanh toán khi nhận hàng</span>
                                </label>
                            </div>

                            <div *ngIf="selectedPaymentMethod === 'creditCard'" class="payment-details-panel">

                                <div class="mb-3">
                                    <label class="form-label">Loại thẻ*</label>
                                    <div class="d-flex">
                                        <div class="form-check me-4">
                                            <input id="visa" type="radio" class="form-check-input" value="Visa"
                                                formControlName="cardType">
                                            <label for="visa" class="form-check-label">Visa</label>
                                        </div>
                                        <div class="form-check">
                                            <input id="mastercard" type="radio" class="form-check-input"
                                                value="Mastercard" formControlName="cardType">
                                            <label for="mastercard" class="form-check-label">Mastercard</label>
                                        </div>
                                    </div>
                                    <div *ngIf="cardType?.invalid && (cardType?.dirty || cardType?.touched)"
                                        class="alert alert-danger mt-1 p-2">
                                        <div *ngIf="cardType?.errors?.['required']">
                                            Hãy chọn loại thẻ.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label class="form-label">Tên trên thẻ</label>
                                        <input type="text" class="form-control" formControlName="nameOnCard">
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label class="form-label">Số thẻ</label>
                                        <input type="text" class="form-control" formControlName="cardNumber">
                                        <div *ngIf="cardNumber?.invalid && (cardNumber?.dirty || cardNumber?.touched)"
                                            class="alert alert-danger mt-1">
                                            <div *ngIf="cardNumber?.errors?.['required']">Số thẻ là bắt buộc.</div>
                                            <div *ngIf="cardNumber?.errors?.['pattern']">Số thẻ phải có 16 chữ số.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Tháng hết hạn</label>
                                        <select formControlName="expirationMonth" class="form-select">
                                            <option *ngFor="let month of creditCardMonths">{{ month }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Năm hết hạn</label>
                                        <select formControlName="expirationYear" class="form-select">
                                            <option *ngFor="let year of creditCardYears">{{ year }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Mã bảo mật (CVV)</label>
                                        <input type="text" class="form-control" formControlName="securityCode">
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="selectedPaymentMethod === 'bankTransfer'"
                                class="payment-details-panel text-center">
                                <p class="text-muted">Quét mã QR để thanh toán. Số tiền đã được điền sẵn trong mã.</p>

                                <div *ngIf="vietQRUrl" class="my-3">
                                    <img [src]="vietQRUrl" alt="VietQR Code" style="max-width: 250px;" />
                                </div>

                                <p><strong>Hoặc chuyển khoản thủ công tới:</strong></p>
                                <p class="mb-0"><strong>Ngân hàng:</strong> TPBank</p>
                                <p class="mb-0"><strong>Tên tài khoản:</strong> Ho Trung Thai</p>
                                <p><strong>Số tài khoản:</strong> 00006502576</p>
                            </div>

                            <div *ngIf="selectedPaymentMethod === 'cash'" class="payment-details-panel">
                                <p class="text-muted">Bạn sẽ thanh toán bằng tiền mặt cho đơn vị chuyển phát nhanh khi
                                    nhận được đơn hàng.</p>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="summary-container">
                    <h4 class="summary-title">Tổng kết đơn hàng</h4>
                    <div class="summary-item">
                        <span>Số tiền tạm tính</span>
                        <span>{{ totalPrice | currency : "USD" }}</span>
                    </div>
                    <div class="summary-item">
                        <span>Phí vận chuyển</span>
                        <span class="text-success">Miễn phí</span>
                    </div>
                    <hr />
                    <div class="summary-total">
                        <span>Tổng số tiền (bao gồm VAT)</span>
                        <strong>{{ totalPrice | currency : "USD" }}</strong>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mt-4" (click)="onSubmit()">
                        Tiến hành đến giao hàng
                    </button>
                    <div class="promo-code-container mt-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Nhập mã khuyến mãi" />
                            <button class="btn btn-outline-secondary" type="button">
                                Áp dụng
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>