<div class="container">

    <div class="checkout-page-container">
        <div class="page-header">
            <h2>Checkout</h2>
            <p class="text-muted">
                Already have an account? <a href="#">Log in</a> for faster checkout.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-7">
                <div class="form-container">
                    <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                        <div class="form-section">
                            <h4 class="section-title">Shipping address</h4>

                            <div formGroupName="customer">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="firstName" class="form-label">First name*</label>
                                        <input id="firstName" type="text" class="form-control"
                                            formControlName="firstName" />

                                        <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
                                            class="alert alert-danger mt-1 p-2">
                                            <div *ngIf="firstName?.errors?.['required']">
                                                First name is required.
                                            </div>
                                            <div *ngIf="firstName?.errors?.['minlength']">
                                                First name must be at least 2 characters long.
                                            </div>
                                            <div *ngIf="firstName?.errors?.['notOnlyWhitespace']">
                                                First name cannot be only whitespace.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="lastName" class="form-label">Last name*</label>
                                        <input id="lastName" type="text" class="form-control"
                                            formControlName="lastName" />

                                        <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
                                            class="alert alert-danger mt-1 p-2">
                                            <div *ngIf="lastName?.errors?.['required']">
                                                Last name is required.
                                            </div>
                                            <div *ngIf="lastName?.errors?.['minlength']">
                                                Last name must be at least 2 characters long.
                                            </div>
                                            <div *ngIf="lastName?.errors?.['notOnlyWhitespace']">
                                                Last name cannot be only whitespace.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="companyName" class="form-label">Company <span
                                            class="text-muted">(Optional)</span></label>
                                    <input id="companyName" type="text" class="form-control"
                                        formControlName="companyName" />
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="email" class="form-label">Email*</label>
                                        <input id="email" type="email" class="form-control" formControlName="email" />

                                        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                                            class="alert alert-danger mt-1 p-2">
                                            <div *ngIf="email?.errors?.['required']">
                                                Email is required.
                                            </div>
                                            <div *ngIf="email?.errors?.['pattern']">
                                                Please enter a valid email address format.
                                            </div>
                                            <div *ngIf="firstName?.errors?.['notOnlyWhitespace']">
                                                Email cannot be only whitespace.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="phone" class="form-label">Phone*</label>
                                        <input id="phone" type="tel" class="form-control" formControlName="phone" />

                                        <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)"
                                            class="alert alert-danger mt-1 p-2">
                                            <div *ngIf="phone?.errors?.['required']">
                                                Phone number is required.
                                            </div>
                                            <div *ngIf="phone?.errors?.['pattern']">
                                                Please enter a valid phone number.
                                            </div>
                                            <div *ngIf="phone?.errors?.['notOnlyWhitespace']">
                                                Phone number cannot be only whitespace.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div formGroupName="shippingAddress">
                                <div class="mb-3">
                                    <label for="address" class="form-label">Address*</label>
                                    <input id="address" type="text" class="form-control" placeholder="1234 Main St"
                                        formControlName="address" />

                                    <div *ngIf="shippingAddress?.invalid && (shippingAddress?.dirty || shippingAddress?.touched)"
                                        class="alert alert-danger mt-1 p-2">
                                        <div *ngIf="shippingAddress?.errors?.['required']">
                                            Shipping address is required.
                                        </div>
                                        <div *ngIf="shippingAddress?.errors?.['minlength']">
                                            Shipping address must be at least 5 characters long.
                                        </div>
                                        <div *ngIf="shippingAddress?.errors?.['notOnlyWhitespace']">
                                            Shipping address cannot be only whitespace.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-section" formGroupName="shippingAddress">
                            <h4 class="section-title">Additional information</h4>
                            <div class="mb-3">
                                <label for="orderNotes" class="form-label">Order notes (Optional)</label>
                                <textarea id="orderNotes" class="form-control" rows="4"
                                    placeholder="Notes about your order, e.g. special notes for delivery."
                                    formControlName="orderNotes"></textarea>
                            </div>
                        </div>
                        <div class="form-section" formGroupName="payment">
                            <h4 class="section-title">Payment Method</h4>

                            <div class="payment-method-container">

                                <label for="creditCard" class="payment-option"
                                    [class.selected]="selectedPaymentMethod === 'creditCard'">
                                    <input id="creditCard" type="radio" value="creditCard"
                                        formControlName="paymentMethod" (change)="onPaymentMethodChange($event)">
                                    <span>Credit Card</span>
                                </label>

                                <label for="bankTransfer" class="payment-option"
                                    [class.selected]="selectedPaymentMethod === 'bankTransfer'">
                                    <input id="bankTransfer" type="radio" value="bankTransfer"
                                        formControlName="paymentMethod" (change)="onPaymentMethodChange($event)">
                                    <span>Bank Transfer</span>
                                </label>

                                <label for="cash" class="payment-option"
                                    [class.selected]="selectedPaymentMethod === 'cash'">
                                    <input id="cash" type="radio" value="cash" formControlName="paymentMethod"
                                        (change)="onPaymentMethodChange($event)">
                                    <span>Cash on Delivery</span>
                                </label>
                            </div>

                            <div *ngIf="selectedPaymentMethod === 'creditCard'" class="payment-details-panel">

                                <div class="mb-3">
                                    <label class="form-label">Card Type*</label>
                                    <div class="d-flex">
                                        <div class="form-check me-4">
                                            <input id="visa" type="radio" class="form-check-input" value="Visa"
                                                formControlName="cardType">
                                            <label for="visa" class="form-check-label">Visa</label>
                                        </div>
                                        <div class="form-check">
                                            <input id="mastercard" type="radio" class="form-check-input"
                                                value="Mastercard" formControlName="cardType">
                                            <label for="mastercard" class="form-check-label">Mastercard</label>
                                        </div>
                                    </div>
                                    <div *ngIf="cardType?.invalid && (cardType?.dirty || cardType?.touched)"
                                        class="alert alert-danger mt-1 p-2">
                                        <div *ngIf="cardType?.errors?.['required']">
                                            Please select a card type.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label class="form-label">Name on Card</label>
                                        <input type="text" class="form-control" formControlName="nameOnCard">
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label class="form-label">Card Number</label>
                                        <input type="text" class="form-control" formControlName="cardNumber">
                                        <div *ngIf="cardNumber?.invalid && (cardNumber?.dirty || cardNumber?.touched)"
                                            class="alert alert-danger mt-1">
                                            <div *ngIf="cardNumber?.errors?.['required']">Card number is required.</div>
                                            <div *ngIf="cardNumber?.errors?.['pattern']">Card number must be 16 digits.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Expiration Month</label>
                                        <select formControlName="expirationMonth" class="form-select">
                                            <option *ngFor="let month of creditCardMonths">{{ month }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Expiration Year</label>
                                        <select formControlName="expirationYear" class="form-select">
                                            <option *ngFor="let year of creditCardYears">{{ year }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Security Code (CVV)</label>
                                        <input type="text" class="form-control" formControlName="securityCode">
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="selectedPaymentMethod === 'bankTransfer'"
                                class="payment-details-panel text-center">
                                <p class="text-muted">Quét mã QR để thanh toán. Số tiền đã được điền sẵn trong mã.</p>

                                <div *ngIf="vietQRUrl" class="my-3">
                                    <img [src]="vietQRUrl" alt="VietQR Code" style="max-width: 250px;" />
                                </div>

                                <p><strong>Hoặc chuyển khoản thủ công tới:</strong></p>
                                <p class="mb-0"><strong>Ngân hàng:</strong> TPBank</p>
                                <p class="mb-0"><strong>Tên tài khoản:</strong> Ho Trung Thai</p>
                                <p><strong>Số tài khoản:</strong> 00006502576</p>
                            </div>

                            <div *ngIf="selectedPaymentMethod === 'cash'" class="payment-details-panel">
                                <p class="text-muted">Bạn sẽ thanh toán bằng tiền mặt cho đơn vị chuyển phát nhanh khi
                                    nhận được đơn hàng.</p>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="summary-container">
                    <h4 class="summary-title">Order Summary</h4>
                    <div class="summary-item">
                        <span>Temporary amount</span>
                        <span>{{ totalPrice | currency : "USD" }}</span>
                    </div>
                    <div class="summary-item">
                        <span>Shipping</span>
                        <span class="text-success">Gratis</span>
                    </div>
                    <hr />
                    <div class="summary-total">
                        <span>The total amount of (including VAT)</span>
                        <strong>{{ totalPrice | currency : "USD" }}</strong>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mt-4" (click)="onSubmit()">
                        Proceed to Shipping
                    </button>
                    <div class="promo-code-container mt-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Apply promo code" />
                            <button class="btn btn-outline-secondary" type="button">
                                Apply
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>